@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
:root{
    --white: #f4fffc;
    --bg-white: #ddf8d74d;
    --baby-blue: #b2fee7;
    --light-green: #c3e956;
    --green: #4d7111;
    --dark-green: #1f4b2c;
    --letter-green: #12381d;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
    background: linear-gradient(-45deg,var(--dark-green) 0%, var(--green) 20%, var(--light-green) 90%, var(--white) 100%);
    background-size: 120%;
}
.bg-sec{
    margin: 0.8em;
    padding: 1.2em;

    box-shadow: inset 10px 10px 10px rgba(31,75,44,0.05),
                10px 15px 10px rgba(31,75,44,0.1),
                10px 15px 20px rgba(31,75,44,0.05),
                inset -10px -10px 25px rgba(255, 255, 255, 0.562);

    border: 1px solid rgba(255, 255, 255, 0.671);
    border-radius: 10px;

    background-color: var(--bg-white);
    backdrop-filter: blur(10px);
}
header{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 0;
    z-index: 50;
    nav{
        display: flex;
        flex-direction: row;
        .div__icon-menu{
            display: none;
        }
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            li{
                padding: 0 0.5em;
                a{
                    color: var(--letter-green);
                    text-decoration: none;
                }
                a:hover{
                    /* color: var(--white);
                    text-shadow: 2px 2px 3px var(--dark-green); */
                }
            }
        }
    }
}
footer{
    div{
        color: var(--letter-green);
        font-size: 1.2em;
        text-align: center;
        padding: 0.5em;
    }
}
main{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    padding: 1em;
    color: var(--letter-green);
    font-family:  "Cormorant", serif;
    font-size: 2.5em;
    font-style: italic;
}
.section__portada{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    h1{
        position: absolute;
        /* bottom: 0; */
        padding: 1em;
        color: var(--letter-green);
        font-family:  "Cormorant", serif;
        font-size: 2.5em;
        font-style: italic;
    }
    img{
       height: 80%;
    }
}

@media (width <= 1200px) {
    header{
        nav{
            
            .div__icon-menu{
                display: block;
                width: 50px;
            } 
            ul{
                display: none;
            }
        }
        nav:hover{
            display: flex;
            flex-direction: column; 
            ul{
               display: flex;
                flex-direction: column;
            }
        }
    }
    
    
}