@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
:root{
    --white: #f4fffc;
    --bg-white: #c1f7b55d;
    --bg-white-intense: #d4fdf28c;
    --baby-blue: #affde6;
    --light-green: #c3e956;
    --green: #4d7111;
    --dark-green: #1f4b2c;
    --letter-green: #12381d;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
    background: linear-gradient(203deg,rgba(244, 255, 252, 1) 0%, rgba(209, 239, 133, 1) 20%, rgba(195, 233, 86, 1) 42%, rgba(184, 222, 80, 1) 55%, rgba(77, 113, 17, 1) 83%, rgba(31, 75, 44, 1) 100%);
    background-size: 120%;
}
body:has(#icon-menu:checked){
        
        .ul__menu{
            position: absolute;
            height: 50vh;
            width: 100%;

            margin: 0;
            margin-top: calc(0.8em + 93px) ;

            z-index: 45;
            top: 0;
            left: 0;

            background-color: var(--light-green);

            display: flex;
            flex-direction: column;

            padding: 1.2em;

            box-shadow: inset 10px 10px 10px rgba(31,75,44,0.05),
                        10px 15px 10px rgba(31,75,44,0.1),
                        10px 15px 20px rgba(31,75,44,0.05),
                        inset -10px -10px 25px rgba(255, 255, 255, 0.562);

            border: 1px solid rgba(255, 255, 255, 0.671);
            border-radius: 10px;
            backdrop-filter: blur(10px);
            li{
                width: 100%;
                a{
                    display: block;
                    color: var(--letter-green);
                    text-decoration: none;
                    padding: 0.5em;
                }
                a:hover{
                    background-color: var(--bg-white);
                    box-shadow: inset 10px 10px 10px rgba(31,75,44,0.05),
                    10px 15px 10px rgba(31,75,44,0.1),
                    10px 15px 20px rgba(31,75,44,0.05),
                    inset -10px -10px 25px rgba(255, 255, 255, 0.562);

                    border: 1px solid rgba(255, 255, 255, 0.671);
                    border-radius: 10px;

                    background-color: var(--bg-white);
                    backdrop-filter: blur(10px);
                }
            }
        }
    }
img{
    width: 100%;
}

.bg-sec{
    margin: 0.8em;
    padding: 1.3em;

    box-shadow: inset 10px 10px 10px rgba(31,75,44,0.05),
                10px 15px 10px rgba(31,75,44,0.1),
                10px 15px 20px rgba(31,75,44,0.05),
                inset -10px -10px 25px rgba(255, 255, 255, 0.562);

    border: 1px solid rgba(255, 255, 255, 0.671);
    border-radius: 10px;

    background-color: var(--bg-white);
    backdrop-filter: blur(10px);
}

#icon-menu{
    display: block;
    width: 50px;
    height: 50px;
    appearance: none;
    background-image: url('/assests/img/icons/menu-bars.svg');
}
#icon-menu:checked{
    background-image: url('/assests/img/icons/menu-close.png');
    background-position: center;
    background-size: 36px 36px;
    background-repeat: no-repeat;
}
header{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 0;
    z-index: 50;
    nav{
        display: flex;
        flex-direction: column;

        ul{
            list-style: none;
            display: flex;
            flex-direction: row;

            display: none;
            li{
                padding: 0 0.5em;
                a{
                    color: var(--letter-green);
                    text-decoration: none;
                }
                a:hover{
                    color: var(--white);
                }
            }
        }
    }
} 
footer{
    div{
        color: var(--letter-green);
        font-size: 1.2em;
        text-align: center;
        padding: 0.5em;
    }
}
main{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    .bg-sec{
        /* max-width: 1200px; */
    }
}
.sec__titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    background-color: var(--bg-white-intense);
}
.sec__circulo{
     border-radius: 50%;
}
.h1__titulo{
    color: var(--letter-green);
    /* color: var(--light-green); */
    font-family:  "Cormorant", serif;
    font-size: 3em;
    padding: 0.8em;

    /* text-shadow: 2px 2px 2px var(--green), -1px -1px 2px var(--white); */
}
.section__portada{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    h1{
        position: absolute;
        /* bottom: 0; */
        padding: 1em;
        color: var(--letter-green);
        font-family:  "Cormorant", serif;
        font-size: 2.5em;
        font-style: italic;
    }
    img{
       height: 80%;
    }
}

/* info sectciones */

.div__2-elements-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.p__text{
    text-indent: 2em;
    text-align: justify;
}

.h2__puntos-clave{
    color: var(--letter-green);
    font-family:  "Cormorant", serif;
    padding-bottom: 0.8em;
    font-style: italic;
    font-size: 1.8em;
}
.ul__puntos-clave{
    padding: 0 1em;
    list-style-image: url('/assests/img/icons/icon-ul.png');
}
.ul__links{
    list-style: none;
    width: 100%;
    li{
        padding: 0.5em 0;
        a{
            color: var(--baby-blue);
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}
.div__imagen-bc{
    /*width: 40%;*/
    img{
        max-width: 400px;
    }
}
.max-h-sec{
    height: 100%;
}
.w-sec-60{
    width: 60%;
}
.alig-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
        padding: 1em;
    }
    
}
.div-w-50{
    width: 50%;
}
.div__co-geme{
    align-items: start;
}
.div__img-elementos{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        max-width: 400px;
        filter: drop-shadow(3px 3px 5px var(--green));
    }
}
.div__img-logica{
    img{
        min-width: 50vw;
    }
}

ul{
    list-style-image: url('assests/img/icons/icon-ul.png');
}
@media (width <= 1200px) {
    .div__imagen-bc{
        img{
            max-width: 300px;
        }
    }  
}

@media (width <= 770px){
    img{
        max-width: 400px;
    }
    .div__2-elements-row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec__titulo{
        border-radius: 2em;
        padding: 0.2em;
        /* width: 60vw; */
    }
    
}