:root{
    --white: #f4fffc;
    --bg-white: #f4fffc8c;
    --baby-blue: #b2fee7;
    --light-green: #c3e956;
    --green: #4d7111;
    --dark-green: #1f4b2c;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
    background: linear-gradient(-45deg,var(--dark-green) 0%, var(--green) 18%, var(--light-green) 81%, var(--white) 100%);
    background-size: 150%;
    
}
.bg-sec{
    border-radius: 10px;
    margin: 0.5em;
    padding: 1em;
    background-color: var(--bg-white);
    backdrop-filter: blur(10px);
}
header{
    display: flex;
    flex-direction: row;
    nav{
        display: flex;
        flex-direction: row;
        .div__icon-menu{
            
        }
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
        }
    }
}
footer{
    padding: 1em;
}